.search-bar-submit {
    width: 77px;
    height: 40px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    border: 1px solid var(--blue-color);
    border-left: none;
    border-radius: 0px 5px 5px 0px;
}